<app-header-bar></app-header-bar>
<div class="container">
  Token: {{ displayToken }}
</div>


<!-- <div *ngIf="list" class="row mx-2">
  <div *ngFor="let listitem of list" class="card col-md-4 col-lg-3 px-0 mb-3 mb-sm-0">
    <div class="card-header">{{listitem.value}}</div>
    <div class="card-body">{{listitem.description}}</div>
    <div class="card-footer">
      <div class="float-left">
        <span [ngClass]="[listitem.status == 1? 'dot-green' : 'dot-red' ]"></span>
      </div>
      <div class="float-right">100%</div>
    </div>
  </div>
</div> -->
