<div class="login-page">

  <!-- Registration Form --->
  <div class="form">
    <form *ngIf="!showLogin" class="register-form" name="registerForm" #form="ngForm" (ngSubmit)="onSubmitRegisterForm()">
      <h4>Create Account</h4>

      <div *ngIf="registerGenericAlert" class="alert alert-danger" role="alert">
        <strong>Error</strong> There was a problem creating your account.
      </div>
      <div *ngIf="registerPasswordAlert" class="alert alert-danger" role="alert">
        <strong>Error</strong> Your passwords did not match.
      </div>

      <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="email@company.com" require emailValidator/>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="password" require passwordValidator/>
      <input type="password" name="password2" [(ngModel)]="model.password2" #password2="ngModel" placeholder="confirm password" require passwordValidator/>
      <button type="submit" [disabled]="!form.form.valid">register</button>
      <p class="message">Already registered? <span class="btn-link" (click)="switchDisplay()">Sign In</span></p>
    </form>

    <!-- Login Form -->
    <form *ngIf="showLogin" class="login-form" name="loginForm" #form="ngForm" (ngSubmit)="onSubmitLoginForm()">
      <h4>Login</h4>

      <div *ngIf="loginAlert" class="alert alert-danger" role="alert">
        <strong>Error</strong> Your email and password were incorrect.
      </div>

      <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="email@company.com" require emailValidator/>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="password" require/>
      <button type="submit" [disabled]="!form.form.valid">login</button>
      <p class="message">Not registered? <span class="btn-link" (click)="switchDisplay()">Create an account</span></p>
      <p class="message"><span class="btn-link" (click)="forgotPassword()">Forgot Password</span></p>
    </form>

  </div>
</div>
