<div class="login-page">
  <div class="form">
    <!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form" name="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="email@company.com"/>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="password"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
