<div class="navbar">
  <div class="float-left">
    <a href="/homepage">NG BOILER</a>
  </div>

  <div class="float-right menu d-none d-md-block">
    <a role="button" (click)="sendEmail()" class="mr-3">send email</a>
    <a role="button" class="mr-3">settings</a>
    <a href="#">logout</a>
  </div>

  <div class="float-right menu d-block d-md-none">
    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-sm">&#9776;</button>
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content p-3">
          <a class="btn btn-primary btn-block" (click)="sendEmail()">send email</a>
          <a href="#" class="btn btn-primary btn-block">settings</a>
          <a href="#" class="btn btn-primary btn-block">logout</a>
        </div>
      </div>
    </div>
  </div>

</div>
