$button-background: #2E86C1;
$button-background-hover: #38F;
$button-text-color: #FFF;

$link-color: #38F;

$text-black: #1a1a1a;
$text-gray: #b3b3b3;

$navbar-background-color: #2E86C1;
$navbar-link: #FFF;
$page-background: #FFF;

$form-input-background: #f2f2f2;
