$button-background: #dc143c;
$button-background-hover: #a52a2a;
$button-text-color: #FFF;

$link-color: #a52a2a;

$text-black: #1a1a1a;
$text-gray: #b3b3b3;

$navbar-background-color: #dc143c;
$navbar-link: #FFF;
$page-background: #FFF;

$form-input-background: #f2f2f2;
